.course{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: #074972;
    padding: 50px 0px;
}
.courseleft{
    flex: 30%;
    background: #bed5e4;
    margin: 10px;
    border-radius: 10px;
    box-shadow:10px 5px 16px black;
}
.courseright{
    flex: 30%;
    background: #bed5e4;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 16px black;
}
.courseh2-heading{
    padding: 20px 10px;
    margin-left: 10%;
}
#courseh2{
    margin-left: 20%;
}
#course1h2{
    margin-left: 6px;
}
.courseh3-heading{
    margin-left: 48%;
}
.courseli{
    float: none;
}
.courseli a{
    color: rgb(72, 97, 114);
}
.courseli a:hover{
    color: rgb(15, 33, 68);
    font-weight: bolder;
}
.course-container{
    padding: 20px;
    margin: 0px 100px;
}
.course-container h1{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, goldenrod 10%, #074972 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#paper{
    height: 10px;
}
#paper i{
    font-size: 30px;
    color: goldenrod;
    background: #074972;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 16px black;
    position: relative;
    top: 50px;
}
.course-para{
    margin-left: 100px;
    line-height: 30px;
    padding-top: 20px;
    text-align: justify;
}
