footer{
    display: flex;
    background: rgb(38, 49, 61);
    padding: 20px 10px;
    margin-top: 20px;
    /* height: 17em; */
}
.footerimg h2, .foot_second h2{
    color: goldenrod;
    padding:10px; 
}
.footerimg{
    float: left;
    width: 30%;
}

.footerimg img{
    width: 100px;
    height: 100px;
} 
.flink{
    text-decoration: none;
    float: right;
    width: 100px;
}
.foot_second{
    float: right;
     width: 70%;
     font-size: 1em;
}
.foot_second p{
    padding: 10px;
    text-align: justify;
    line-height: 25px;
    color: whitesmoke;
}
.foot_second a{
    background-color: goldenrod;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.foot_second a:hover{
    background: #bf3f32;
}
@media screen and (max-width:500px){
    .footerimg img{
        width: 50px;
        height: 50px;
    }
    .foot_second{
         font-size: 0.65em;
    }
}