*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;  
}
html,body{
    background-color: #c7c1c1c9;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
#first{
    background-color: #f3f3f3;
}
ul{
    list-style-type: none;
    overflow: hidden;   
}
li{
    float: right;
}
li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 14px;
    color: #666;
    font-size: 14px;
}
header img{
    position: absolute;
    top: 0px;
    left: 50px;
    transition: cubic-bezier(.68,-0.55,.27,1.55) 1.2s;
}
.parallax{
    background: url(image/college1.jpg);
    height: 475px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-around;
    /* width: 40%; */
    background-color: #004068;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.navbar a {
    float: left;
    font-size: 14px;
    color: goldenrod;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: goldenrod;
    padding: 12px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #bf3f32;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004068;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: goldenrod;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.burger{
    cursor: pointer;
    padding: 7px;
    display: none;
}
.burger div{
    background-color:red;
    width: 25px;
    height: 2px;
    margin: 5px;
    transition: all 0.3s ease-in;
}

@media screen and (max-width:500px){
    body{
        overflow-x: hidden;
    }
    header img{
        position: absolute;
        top: 20px;
        left: 15px;
        height: 75px;
        width: 75px;
    }
    .align{
        position: absolute;
        width: 50%;
        right: 0px;
        top: 76px;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #004068;
        border-radius: 5px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .align a{
        opacity: 0;
    }
    .dropbtn{
        opacity: 0;
    }
    .burger{
        display: block;
        position: relative;
        top: 0px;
        left: 100px;
    }
}
.nav-active{ 
    transform: translateX(0%);
}

@keyframes animateLink{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

/* @media screen and (max-width:500px){
    .align{
        width: 30%;
    }
} */