
#first p{
    position: absolute;
    top: 3px;
    left: 55%;
    color: tomato;
    font-size: 12px;
}
#first i{
    font-size: 20px;
    color: #1c4272;
    display: inline-block;
    padding: 4px;
    border:2px solid #062f4f;
    border-radius: 5px;
}

.parallax-img{
    /* height: 400px; */
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.parallax-img-1{
    background: url(image/parallax1.jpg);
    height: 375px;
    display: inline-block;
    width: 60%;
    /* margin-left:3em ; */
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;

}
.parallax-content{
    width: 30%;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    position: relative;
    top: 0px;
    line-height: 2em;
    text-align: justify;
    word-spacing: 10px;
    color: black;
}

.parallax-img-2{
    background: url(image/brown-book-page.jpg);
    height: 375px;
    display: inline-block;
    width: 60%;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;

}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-25px; 
}
.main-flex a{
  background-color: #004068;
  color: white;
  text-decoration: none;
  width: 300px;
  height: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 17px rgb(39, 39, 138,0.6);
}
.main-flex a:hover{
    background: #062f4f;    
    transition: cubic-bezier(.68,-0.55,.27,1.55) 0.5s;
}
.main-flex p{
    width: 80%;
    font-size: small;
}
.icon{
    color: goldenrod;
    position: relative;
    left: 120px;
    bottom: 80px;
    font-size: 38px;
    display: inline;
}
.main-flex h4{
    color: goldenrod;
    padding-bottom: 8px;
}

@media screen and (max-width:920px){
    .hide{
        display: none;
    }
}

 